body {
    font-family: Roboto,Helvetica,Arial,sans-serif !important;
}
.danjixiazai {
    display: none;
}

ul.con-type-label-containor li.con-type-label.lable6 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.options-list .map-opts{
	white-space: nowrap;
    text-overflow: ellipsis;
}
