body {
    font-family: Roboto,Helvetica,Arial,sans-serif !important;
}
.danjixiazai {
    display: none;
}
.person-data {
    display: flex;
    width: 100%;
}
.person-data-main>a{
    display: flex;
    font-weight: 400;
    text-align: center;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: #fff;
    background-color: #346cb0;
    border-color: #346cb0;
}
.person-data-main>a>span{
    padding-left: 5px;
}
.person-data-import{
	margin-left: auto;
    margin-right: 15px;
}
.person-data-import input {
    display: none;
}
.person-data-import label {
    display: inline-block;
    border: 1px solid #346cb0;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: #346cb0;
}
button.upload-btn {
    display: inline-block;
    cursor: pointer;
    font-weight: 400;
    color: #363642;
    text-align: center;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: #fff;
    background-color: #346cb0;
    border-color: #346cb0;
}

ul.con-type-label-containor li.con-type-label.lable6 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.options-list .map-opts{
	white-space: nowrap;
    text-overflow: ellipsis;
}
.disclaimer {
    padding: 5px 5px;
    display: block;
}


a.bc-wish {
    display: block;
    position: absolute;
    top: 5px;
    left: 50px;
    background: url(https://genshin-map.github.io/imgs/con_img/wish.png) no-repeat center top;
    background-size: contain;
    width: 60px;
    height: 60px;
    z-index: 999;
    cursor: pointer;
}
a.bc-shop {
    display: block;
    position: absolute;
    top: 13px;
    left: 100px;
    background: url(https://genshin-map.github.io/shop/imgs/shop-img.jpg) no-repeat center top;
    background-size: contain;
    width: 90px;
    height: 45px;
    z-index: 999;
    cursor: pointer;
}